################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Praktikum04_Transofrmationen/CGVStudio/.vs/Praktikum04_Transofrmationen/v17/Browse.VC.opendb
